node_modules/
dist/
build/
coverage/
*.log
.env
.env.local
.DS_Store
storage/
playwright-report/
.idea
.idea/*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
**/terraform.tfvars
**/*.auto.tfvars
!**/terraform.tfvars.example
